 input {
 	width:200px;
 	height:25px;
 	border-radius: 2px;
 }
 button {
 	background:rgb(45, 75, 107);
 	color:white;
 	text-align: center;
 	font-size:14px;
 	width: 100px;
 	height:38px;
 	border-radius: 10px;
 }

 #wrapper {
 	width:100%;
 	height:100%;
 	position:relative;
 }

 #content_left_side {
 	position: absolute;
 	float: left;
 	width: 45%;
 	height:100%;
 	left:0px;
 }

 #content_right_side {
 	position: absolute;
 	float: right;
 	width: 55%;
 	height:100%;
 	right:0px;
 }
 #my_albums {
 	border:1;
 }
 td th tr{
 	text-align: center;
 }
